{% extends 'base.html' %}
{% load static %}
{% comment %} load static: static 파일 불러올게요 {% endcomment %}
{% comment %} extends 보다는 하위에 위치시킴 {% endcomment %}

{% block title %}Articles{% endblock title %}

{% block body %}
  <h1>Articles</h1>
  {% comment %} <a href="/articles/new/">[작성하기]</a> {% endcomment %}
  <a href=" {% url 'articles:create' %} ">[작성하기]</a><br>
  <img src="{% static 'articles/images/수미니.jpg' %}" alt="수미니">
  <hr>
  {% for article in articles %}
  <div>
    {% if article.image %}
    <img src="{{ article.image_thumbnail.url }}" alt="{{ article.image_thumbnail }}">
    {% endif %}
    <h3><a href=" {% url 'articles:detail' article.pk %} ">{{ article.pk }}. {{ article.title }}</a></h3>
    <p>{{ article.content }}</p>
    <br>
  </div> 
  {% endfor %}
{% endblock body %}