{% extends 'base.html' %}

{% block title %}UPDATE PAGE{% endblock title %}


{% block body %}
  <h1>UPDATE</h1>
  {% comment %} article에 이미지 있으면 보여줘! {% endcomment %}
  {% if article.image %}
  <img src="{{ article.image.url }}" alt="{{ article.image }}">
  {% endif %}

  <form action=" {% url 'articles:update' article.pk %} " method="POST" enctype="multipart/form-data">
  {% comment %} 제 3자로부터 해킹 못 당하게 {% endcomment %}
    {% csrf_token %}
    <input type="text" name="title" value="{{ article.title }}"><br>
    <textarea name="content" cols="30" rows="10">{{ article.content }}</textarea><br>
    <label for="image">이미지: </label>
    <input type="file" name="image" id="image"><br>
    <button type="submit">SUE정하기</button>
  </form>
  
  <a href=" {% url 'articles:detail' article.pk %} ">뒤로가기</a>
{% endblock body %}